# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
rich
subprocess
mysql
mysql-connector
os
sys
time
argsparse
string
secrets
sqlite3
yaml